@model TaskZen.Models.TaskModel

<div class="task-card p-3 rounded-4 shadow-sm bg-white position-relative" 
    id="task-@Model.Id"
     draggable="true"
     ondragstart="drag(event, @Model.Id)">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h5 class="task-title fw-bold text-dark m-0 fs-5">@Model.Title</h5>

        <span class="priority-badge @(Model.Priority == PriorityLevel.Baja ? "low" :
                   Model.Priority == PriorityLevel.Media ? "medium" : "high")">
            @Model.Priority
        </span>
    </div>

    <p class="task-description text-muted my-2 text-truncate fs-6" title="@Model.Description">
        @Model.Description
    </p>

    <div class="d-flex flex-column">
        <span class="priority-badge @(Model.Label.ToString().ToLower())">
            @Model.Label
        </span>
        <div class="task-date mt-2 d-inline-flex align-items-center px-2 py-1 rounded-2 bg-light-subtle border text-secondary small">
            <i class="bi bi-clock text-primary me-1"></i>
            <span>@(Model.DueDate.HasValue ? Model.DueDate.Value.ToString("dd/MM/yyyy") : "Sin fecha")</span>
        </div>
     </div>

    <div class="d-flex justify-content-end">
        <a class="btn btn-sm btn-outline-secondary edit-task me-2" asp-controller="Tasks" asp-action="Editar" asp-route-id="@Model.Id">
            <i class="bi bi-pencil"></i>
        </a>

        <button class="btn btn-sm btn-outline-danger delete-task" data-id="@Model.Id">
            <i class="bi bi-trash"></i>
        </button>
    </div>
</div>

